:root {
    --clr-white: #fff;
    --clr-slate: #434455;
    --clr-iris: #4d5ae5;
    --clr-navy-blue: #2E2F42;
    --clr-cloud: #F4F4FD;
    --clr-ocean: #404BBF;


}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--clr-white);
    font-style: normal;
    color: var(--clr-slate);
}

.logo {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--clr-iris);

}



.logo-span-studio {
    color: var(--clr-navy-blue);
}
.logo-span-studio-white {
    color: var(--clr-cloud);
}

.navigation {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    color: var(--clr-navy-blue);
    letter-spacing: 0.02em;

}

.contacts {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

/* effective-solutions */

.effective-solutions {
    background: var(--clr-navy-blue);
}

.effective-solutions-text {
    color: var(--clr-white);
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.address-style {
    color: var(--clr-slate);
}

.address-style:hover,
:focus {
    color: var(--clr-ocean);
}

.link-style-nav {
    color: var(--clr-navy-blue);
}

.link-style-nav:hover,
:focus {
    color: var(--clr-ocean);
}

.btn {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    
    /* IRIS */
    background-color: var(--clr-cloud);
    color: var(--clr-iris);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.btn:hover,
:focus {
    width: 169px;
    height: 56px;
    left: 20px;
    top: 88px;

    /* OCEAN */
    color: var(--clr-white);
    background: var(--clr-ocean);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}


.about-us-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--clr-slate);
}

.footer-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    letter-spacing: 0.02em;

    /* CLOUD */

    color: var(--clr-cloud);
}

.bottom {
    background: var(--clr-navy-blue);
    
}

.bottom-p {
    color: var(--clr-white);
}

.h2-portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--clr-navy-blue);

}